Package: kainat-base-files
Source: kainat-settings
Version: 13.0.04
Architecture: all
Maintainer: Kainat Quaderee <kainatquaderee@gmail.com>
Installed-Size: 613
Depends:
Conflicts:
Breaks:
Replaces:base-files,bash,zsh-common,zsh
Section: binary
Priority: optional
Description: kainat OS updater
