Package: kainat-desktop
Version: 25.01.08
Section: metapackages
Priority: optional
Architecture: amd64
Maintainer: Kainat Quaderee <kainatquaderee@gmail.com>
Depends: package-installer-kainatos, task-kde-desktop, steam-installer, obs-studio, kdenlive, gvfs, gstreamer1.0-libav, gstreamer1.0-plugins-bad, gstreamer1.0-plugins-ugly, gstreamer1.0-tools, opus-tools, gstreamer1.0-alsa, gamemode, timidity, lutris, scummvm, dosbox, ffmpeg, mingw-w64, flvmeta, smpeg-plaympeg, lame, mjpegtools, x265, x264, mpv, mpg123, libxvidcore4, fluidsynth, lutris, xournalpp, wget, git, flatpak, gnome-disk-utility, synaptic, mangohud, goverlay, vlc, krfb, krdc, kainat-os-core, inkscape, gimp, elisa, stacer, timeshift, baobab, fizmo-sdl2, cups, libsdl2-2.0-0, libsdl2-dev, libsdl2-gfx-1.0-0, libsdl2-gfx-dev, libsdl2-image-2.0-0, libsdl2-mixer-2.0-0, libsdl2-net-2.0-0, libvulkan-dev, vulkan-tools, kio-gdrive, antimicro,kainatos-appimage-manager,piper, ratbagd,thorium-browser,k-settings,kainatos-disk-manager, neofetch
Conflicts: neon-all, neon-desktop, neon-settings-2, kubuntu-desktop
Description: Kainat‑OS KDE Plasma Desktop Environment
 A metapackage to install a complete KDE Plasma desktop on Kainat OS, with all necessary drivers, fonts, and utilities.
