[Desktop Entry]
Name=Kainat-city
X-KDE-PluginInfo-Name=Kainat-city
X-KDE-PluginInfo-Author=kainat Quaderee
X-KDE-PluginInfo-Email=kainatquaderee@gmail.com
X-KDE-PluginInfo-License=GPLv3
