[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/usr/local/bin/kainat_splash
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=Kainat Splash
Name=Kainat Splash
NoDisplay=true
OnlyShowIn=KDE;
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-autostart-phase=0
