[Desktop Entry]
Type=Application
Exec=launch-kainat-ai
Hidden=false
NoDisplay=false
#X-GNOME-Autostart-enabled=true
X-KDE-Autostart-enabled=true
Name=Kainat Ai
Comment=Start Kainat AI at login
