[Desktop Entry]
Type=Application
Exec=/opt/chat-sotero/start.sh
WorkingDirectory=/opt/chat-sotero/
Hidden=false
NoDisplay=false
#X-GNOME-Autostart-enabled=true
X-KDE-Autostart-enabled=true
Name=Chat Sotero
Comment=Start Chat Sotero at login
