[Desktop Entry]
Type=Application
Name=welcome-slides
Comment=Run my custom script at login
Exec=run-welcome
Terminal=false
#X-GNOME-Autostart-enabled=true
X-KDE-Autostart-enabled=true
