[Desktop Entry]
Categories=Utility;
Comment[en_US]=Uninstall previously installed AppImages
Comment=Uninstall previously installed AppImages
Exec=/usr/bin/app-image-manager
GenericName[en_US]=
GenericName=
Icon=package-remove
MimeType=
Name[en_US]=AppImage Manager
Name=AppImage Manager
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
