[Desktop Entry]
Type=Application
Name=Kainat OS installer
Exec=install-kainatos-launcher
StartupNotify=false
NoDisplay=false

X-KDE-autostart-phase=1
