[Desktop Entry]
Type=Application
Exec=/usr/local/bin/create_computer_dir.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Create Computer Dir
Comment=Creates /computer directory at login if it doesn't exist
