[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/usr/bin/create-computer
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=User folders update computer
Name=User folders update computer
NoDisplay=true
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
TryExec=create-computer
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-autostart-phase=1
