[Unit]
Description=Create symbolic links to mounted drives
After=home.mount

[Service]
ExecStart=/usr/bin/create_disk_links.sh
User=%I

[Install]
WantedBy=multi-user.target
