[Unit]
Description=Create symbolic links to mounted drives
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/create_disk_links.sh

[Install]
WantedBy=multi-user.target
