Package: K-settings
Version: 1.0
Section: base
Priority: optional
Architecture: all
Maintainer: Kainat Quaderee <kainatquaderee@gmail.com>
Description: K-settings is a simple settings app for Binary OS and KOS.
