[Desktop Entry]
Type=Application
Version=1.0
Name=Install Kainat OS
GenericName=Calamares Installer
Exec=install-kainatos-launcher.x86_64
Comment=Calamares — Installer for KainatOS Live
Keywords=calamares;system;install;KainatOS;installer
Icon=install-kainat
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
