Package: kainat-splash
Version: 25.1-2
Section: misc
Priority: optional
Architecture: all
Maintainer: Kainat Quaderee <kainatquaderee@gmail.com>
Description: Custom Godot-based splash screen for Kainat Os
