Package: kainat-splash
Version: 25.1-1
Section: misc
Priority: optional
Architecture: amd64
Maintainer: Kainat Quaderee <kainatquaderee@gmail.com>
Description: Custom Godot-based splash screen for Kainat Os
