Package: KainatOS-appstream-data
Version: 25.5
Section: base
Priority: optional
Architecture: all
Maintainer: Kainat Quaderee <kainatquaderee@gmail.com>
Depends: appstream
Description: ammstream-data and other necessary things.
