Package: package-installer-kainatos
Version: 25.1.4
Maintainer: Kainat Quaderee <kainat.quaderee@gmail.com>
Architecture: amd64
Description: Package installer for .deb and AppImage files
 This is a package installer tool designed to install .deb and AppImage files
 system-wide or per-user.
Homepage: https://kainat-os.github.io
